name: Build

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            platform: mac
            arch: arm64
          - os: macos-15-intel
            platform: mac
            arch: x64
          - os: windows-latest
            platform: win
            arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: x64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run make -- --${{ matrix.arch }}

      - name: Upload file
        uses: actions/upload-artifact@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ matrix.os }}
          path: |
            out/*.dmg
            out/*.zip
            out/*.exe
            out/*.deb
            out/*.AppImage
            out/*.yml
            out/*.blockmap
          retention-days: 90
